body {
    margin: 0;
    height: 100vh;
}

.chat-header {
    padding: 5px 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.status-db {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.db-settings {
    background: transparent;
    border: 1px dashed var(--border-color);
    color: var(--text-main);
    padding: 10px;
    border-radius: 6px;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s;
}

.db-settings:hover {
    border-color: var(--primary-green);
    color: var(--primary-green);
}

.db-settings:active {

    border-color: var(--dark-green);

}

.avatar {
    width: 32px;
    height: 32px;
    background: var(--primary-green);
    color: #000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.avatar img {
    width: 30px;
    height: 30px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px dashed var(--border-color);
    border-radius: 10px;
}

.user-profile:hover {

    border-color: var(--primary-green);
    color: var(--primary-green);

}

.user-profile:active {

    border-color: var(--dark-green);

}

/* Área do Chat */
.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: var(--primary-green);
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0 0 8px var(--primary-green);
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 40px 15% 100px 15%;
    &::-webkit-scrollbar {
        display: none;
    }

    /* Para Firefox */
    scrollbar-width: none;

    /* Para Internet Explorer e Edge antigo */
    -ms-overflow-style: none;
}

.message {
    margin-bottom: 30px;
    display: flex;
}

.msg-content {
    max-width: 85%;
    padding: 15px 20px;
    border-radius: 12px;
    line-height: 1.5;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    /* Para Firefox */
    scrollbar-width: none;

    /* Para Internet Explorer e Edge antigo */
    -ms-overflow-style: none;
}

.ai .msg-content {
    background: var(--card-bg);
    color: var(--text-main);
    border-bottom-left-radius: 2px;
}

.user {
    justify-content: flex-end;
}

.user .msg-content {
    background: var(--primary-green);
    color: var(--text-main);
    font-weight: 500;
    border-bottom-right-radius: 2px;
}

/* Input de Mensagem */
.input-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 30px 15%;
    background: linear-gradient(transparent, var(--bg-dark) 30%);
}

.input-wrapper {
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    position: relative;
}

.input-wrapper input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    padding: 15px;
    outline: none;
}

.input-wrapper label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: var(--text-dim);
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    color: #424242;
    cursor: text;
}

.input-wrapper input:focus+label,
.input-wrapper input:not(:placeholder-shown)+label {
    transform: translateY(-235%);
    color: var(--primary-green);
    background-color: var(--card-bg);
    border-radius: 5px;
    border-top: 1px solid var(--border-color);
}

.send-btn {
    background: none;
    border: none;
    color: var(--primary-green);
    cursor: pointer;
    padding: 10px;
}

.send-btn:hover {
    color: var(--secondary-green);
    scale: 0.96;
}

/* From Uiverse.io by Li-Deheng */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}

/* From Uiverse.io by june7011 */
.radio-container {
    --primary-green-opacity: #2ecc702f;

    /* change this according inputs count */
    --total-radio: 3;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 90px;
    padding-left: 0.5rem;
}

.radio-container input {
    cursor: pointer;
    appearance: none;
}

.radio-container .glider-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(27, 27, 27, 1) 50%,
            rgba(0, 0, 0, 0) 100%);
    width: 1px;
}

.radio-container .glider-container .glider {
    position: relative;
    height: calc(100% / var(--total-radio));
    width: 100%;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            var(--main-color) 50%,
            rgba(0, 0, 0, 0) 100%);
    transition: transform 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56);
}

.radio-container .glider-container .glider::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 1000%;
    top: 40%;
    transform: translateY(-50%);
    background: var(--primary-green);
    filter: blur(10px);
}

.radio-container .glider-container .glider::after {
    content: "";
    position: absolute;
    left: 0;
    height: 80%;
    width: 150px;
    background: linear-gradient(90deg,
            var(--primary-green-opacity) 0%,
            rgba(0, 0, 0, 0) 100%);
}

.radio-container label {
    cursor: pointer;
    padding: 1rem;
    position: relative;
    color: grey;
    transition: all 0.3s ease-in-out;
}

.radio-container input:checked+label {
    color: var(--primary-green);
}

.radio-container input:nth-of-type(1):checked~.glider-container .glider {
    transform: translateY(0);
}

.radio-container input:nth-of-type(2):checked~.glider-container .glider {
    transform: translateY(75%);
}

.radio-container input:nth-of-type(3):checked~.glider-container .glider {
    transform: translateY(150%);
}

.radio-container input:nth-of-type(4):checked~.glider-container .glider {
    transform: translateY(225%);
}

.radio-container input:nth-of-type(5):checked~.glider-container .glider {
    transform: translateY(400%);
}

.radio-container input:nth-of-type(6):checked~.glider-container .glider {
    transform: translateY(500%);
}

.radio-container input:nth-of-type(7):checked~.glider-container .glider {
    transform: translateY(600%);
}

.radio-container input:nth-of-type(8):checked~.glider-container .glider {
    transform: translateY(700%);
}

.radio-container input:nth-of-type(9):checked~.glider-container .glider {
    transform: translateY(800%);
}

.radio-container input:nth-of-type(10):checked~.glider-container .glider {
    transform: translateY(900%);
}
